@charset 'UTF-8';

.footer {

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 30px;
        background-color: #fff;
        border-top: .07rem solid #eee;
        box-shadow: $box-shadow;
        font-size: 0.8125rem;
        color: $meta-font-color;
        
        a {
            color: $meta-font-color;

            &:not(:first-child) {
                margin-left: 10px;
            }
            &:hover {
                color: $link-color-hover;
            }
            &:active {
                color: $link-color-active;
            }
        }
    }
}

@media (min-width: 768px) {

    .footer {

        &__main {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .fixed-footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}