<html>

<head>
    <meta charset="UTF-8">
    <title>
        <?=$title?>
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/controllers/scripts/ajax.js"></script>
    <script src="/assets/scripts/scripts.js"></script>
     </head>
<body>
    <div class="container">
        <header>
            <div>
                <?=$siteName?>
            </div>
            <nav>
                <?=$menu?>
            </nav>
        </header>
        <div class="content">
            
               <form action="" method="post">
                <fieldset>
                    <legend>
                       Авторизация на сайте
                    </legend>
                    <label>Логин:
                        <input type="text" name="userLogin" width="15" maxlength="15" required placeholder="алфавит и цифры"> </label>
                    <br>
                    <label>Пароль:
                        <input type="userPassword" name="userPass" maxlength="10" required placeholder="цифры и алфавит" width="10"> </label>
                        
                    <input type="hidden" name="act" value="login">
                    <input type="hidden" name="c" value="Tasks">
                    
                    <input type="submit" value="Войти">
                </fieldset></form>
                
           <?php if( $content and is_string($content) ): ?>
            <span><?=$content?></span>
            <?php endif; ?>
        </div>
        <div class="clear-fix"></div>
        <div class="clear"></div>
    </div>
    <footer>
        Все права защищены &copy;<?=$footer?>
    </footer>
</body>

</html>
