@charset "UTF-8";

.side-navbar {
    position: relative;
    display: block;
    min-width: 90px;
    max-width: 90px;
    height: 100%;
    margin-left: 0;
    padding: 80px 0;
    color: #fff;
    overflow-y: auto;
    z-index: 999;
    transition: all .2s ease-in-out;
    
    &.shrink {
        margin-left: -90px;
        text-align: center;
    }
    &__list {
        list-style-type: none;
        padding: 10px 0;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        padding: 10px 0;
        color: $link-navbar-color;

        &:hover {
            color: $link-color-hover;

            .side-navbar__icon {
                fill: $link-color-hover;
            }
        }
        &:active {
            color: $link-color-active;

            .side-navbar__icon {
                fill: $link-color-active;
            }
        }
        &--title {
            width: 0;
            font-size: 0;
            opacity: 0;
            visibility: hidden;
        }
    }
    &__icon {
        fill: $link-navbar-color;
        flex-shrink: 0;
        width: auto;
        height: 23px;
        transition: fill .5s ease;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.side-navbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.side-navbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media (min-width: 1200px) {

    .side-navbar {
        min-width: 90px;
        max-width: 90px;

        &.shrink {
            margin-left: 0;
            min-width: 240px;
            max-width: 240px;

            .side-navbar {
                
                &__link {
                    justify-content: flex-start;
                    padding: 10px 20px;

                    &--title {
                        width: 100%;
                        font-size: 1rem;
                        text-align: left;
                        line-height: 1;
                        opacity: 1;
                        visibility: visible;
                        transition: all .3s ease;
                    }
                }
                &__icon {
                    margin-right: 15px;
                }
            }
        }
        &__link {
            
            &--title {
                width: 0;
                font-size: 0;
                line-height: 1;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

/* @media (min-width: 1200px) {

    .side-navbar {
        min-width: 240px;
        max-width: 240px;

        &__link {
            justify-content: flex-start;
            padding: 10px 20px;
            
            &--title {
                width: 100%;
                font-size: 1rem;
                line-height: 1;
                opacity: 1;
                visibility: visible;
                transition: all .3s ease;
            }
        }
        &__icon {
            margin-right: 15px;
        }
        &.shrink {
            margin-left: 0;
            min-width: 90px;
            max-width: 90px;

            .side-navbar__link--title {
                width: 0;
                font-size: 0;
                line-height: 1;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
} */