@charset 'UTF-8';

.user {

    &__img {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto 15px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__name,
    &__position,
    &__email {
        display: block;
        text-align: center;
    }
    &__email {
        margin-bottom: 25px;
    }
}