@charset 'UTF-8';

.widget {

    &__wrapper {
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 30px;
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 1.49rem;
        border-bottom: .07rem solid #eee;
    }
    &__title {
        margin: 0;
        line-height: 1;
    }
    &__body {
        padding: 1.4rem;
    }
    &__section {

        &--title {
            display: block;
            margin: 0;
            padding: 0 30px 20px;
            font-weight: 600;
            text-align: center;
        }
    }
}

.widget {

    &__profile {
        padding-top: 40px;

        &--update {

            .btn__group {
                justify-content: flex-end;

                .btn:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }
}