@charset 'UTF-8';

.content {

    &__inner {
        width: 100%;
        margin-left: 0;
        background: #f9f9f9;
    }
    &__header {
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &--title {
            font-size: 1.5rem;
            margin-bottom: 0;
            margin-right: auto;
        }
    }
}

@media (min-width: 576px) {

    .sidebar-shrink {

        .content {

            &__inner {
                margin-left: 90px;
                transition: margin-left 0.3s ease;
            }
        }
    }

    .content {

        &__header {
            padding: 0 15px 30px 15px;
        }
    }
}

@media (min-width: 1200px) {

    .sidebar-shrink {

        .content {

            &__inner {
                width: 100%;
            }
        }
    }
    .content {

        &__inner {
            width: calc(100% - 240px);
            margin-left: 240px;
            transition: all 0.3s ease;
        }
    }
}