
* {
    margin: 0;
    padding: 0;
}


body,
html {
    height: 100%;
}
.padding-site {
        padding-left: 0;
        padding-right: 0;
    }

.clear-fix:after {
    clear: both;
    display: table;
    content: "";
}

.clear {
   /* height: 20px; */
}


/*       Шапка сайта              */

header {
    
}

nav {
    
}

/*       Контент сайта              */

.container {

}
.container   .content {

    }

/*       Контент сайта - страница Авторизации - Главная страница       */


/*       Контент сайта - страница Задания список       */


/*       Контент сайта - страница Задание - ответ формы       */


/*       Контент сайта - страница Журнал оценок       */


/*       Контент сайта - страница Личный кабинет Администратора      */


/*       Контент сайта - страница Личный кабинет Директора      */


/*       Контент сайта - страница Личный кабинет Учителя      */


/*       Контент сайта - страница Личный кабинет ученика      */


/*       Контент сайта - страница Профиль ученика       */


/*       Контент сайта - страница Профиль учителя       */


/*       Контент сайта - страница Профиль Директора       */


/*       Контент сайта - страница Профиль Администратора       */


/*       Подвал сайта              */
footer {

}
